<html>
<head>
  <link rel="stylesheet" href="./css/main.css"/>
<title>submit</title>
</head>
<body>
<form action="http://127.0.0.1:8080/result" method="post">
<h1>手机销量，Q1，Q2，Q3，Q3同比，Q3比上季</h1>
  <div>
    <span class="span">华为:</span> <input type="text" name="huawei">
  </div>
  <div>
	   <span class="span">OPPO:</span><input type="text" name="oppo">
  <div>
  <div>
  	<span class="span">小米:<span><input type="text" name="xiaomi">
  <div>
  <div>
    <span class="span">OV:<span><input type="text" name="ov">
  <div>
  <div>
    <span class="span">Apple:<span><input type="text" name="apple">
  <div>

	<input type="submit" value="提交">
</form>

</body>
</html>
